{% extends 'base.html' %} {% block title %}Edit Profile{% endblock %} {%
    block content %}

<form method="POST">
    <h3 align="center">Edit {{user.first_name}}'s Profile</h3>   
    <div class="form-group">
        <label for="password1">Current Password</label>
        <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
        />
    </div>
    <div class="form-group">
        <label for="password2">New Password</label>
        <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Enter password"
        />
    </div>
    <div class="form-group">
        <label for="password3">New Password <small>(Confirm)</small></label>
        <input
        type="password"
        class="form-control"
        id="password3"
        name="password3"
        placeholder="Confirm password"
        />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit Changes</button>
</form>
    {% endblock %}