{% extends "base.html" %} 
{% block title %}Smartinerary{% endblock %} 

{% block content %}
<div class="container">
  <h1 class="text-center mt-5 mb-3">Smartinerary Details</h1>
  <div class="row">
    {% for itinerary in smartinerary %}
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Day {{ loop.index }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Morning Activity: {{ itinerary.morning_activity.activity_action }} at {{ itinerary.morning_activity.activity_place }}</li>
          <li class="list-group-item">Afternoon Activity: {{ itinerary.afternoon_activity.activity_action }} at {{ itinerary.afternoon_activity.activity_place }}</li>
          <li class="list-group-item">Evening Activity: {{ itinerary.evening_activity.activity_action }} at {{ itinerary.evening_activity.activity_place }}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
