{% extends "base.html" %} {% block title %}Smartinerary{% endblock %} {% block
content %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='smart_display.js') }}"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/smart_display.css') }}"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap"
    rel="stylesheet"
  />
</head>
<div class="container" id="smart-container">
  <h1 class="text-4xl font-bold text-center text-gray-800 mt-10 mb-6">
    Smartinerary Details
  </h1>

  <div class="col">
    {% for itinerary in smartinerary %}
    <div
      class="col-md-4 col-sm-6 mb-4"
      itinerary-id="{{itinerary.itinerary_id}}"
    >
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls{{ loop.index }}"
        role="button"
        data-slide="prev"
        style="padding: 0; position: absolute; left: 0; margin-right: 50px;"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a
        class="carousel-control-next"
        href="#carouselExampleControls{{ loop.index }}"
        role="button"
        data-slide="next"
        style="padding: 0; position: absolute; right: 0; margin-left: 50px;"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-primary btn-sm float-right"
            onclick="shuffleItinerary({{itinerary.itinerary_id}}, {{itinerary.day}}, {{smart_id}})"
          >
            <i class="fa-solid fa-shuffle"></i>
          </button>
          <h5 class="card-title mb-0">Day {{ itinerary.day }}</h5>
        </div>
        <div
          id="carouselExampleControls{{ loop.index }}"
          class="carousel slide"
          data-ride="carousel"
          data-interval="false"
        >
          <div class="carousel-inner">
            <div
              act-type="morning"
              class="carousel-item active"
              activity-id="{{itinerary.morning_activity.id}}"
            >
              <img
                class="d-block w-100"
                style="max-width: 350px; max-height: 500px"
                src="{{ itinerary.morning_activity.activity_image }}"
                alt="{{ itinerary.morning_activity.activity_action }}"
              />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Morning Activity:</b> {{
                  itinerary.morning_activity.activity_action }} at {{
                  itinerary.morning_activity.activity_place }}
                </li>
              </ul>
            </div>
            <div
              act-type="afternoon"
              class="carousel-item"
              activity-id="{{itinerary.afternoon_activity.id}}"
            >
              <img
                class="d-block w-100"
                style="max-width: 350px; max-height: 500px"
                src="{{ itinerary.afternoon_activity.activity_image }}"
                alt="{{ itinerary.afternoon_activity.activity_action }}"
              />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Afternoon Activity:</b> {{
                  itinerary.afternoon_activity.activity_action }} at {{
                  itinerary.afternoon_activity.activity_place }}
                </li>
              </ul>
            </div>
            <div
              act-type="evening"
              class="carousel-item"
              activity-id="{{itinerary.evening_activity.id}}"
            >
              <img
                class="d-block w-100"
                style="max-width: 350px; max-height: 500px"
                src="{{ itinerary.evening_activity.activity_image }}"
                alt="{{ itinerary.evening_activity.activity_action }}"
              />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Evening Activity:</b> {{
                  itinerary.evening_activity.activity_action }} at {{
                  itinerary.evening_activity.activity_place }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
